<!-- <header class="header">Logo</header> -->
<nav class="menu-container">
  <ul class="menu">
    <li class="menu-item-left">
      <a class="nav-items" href="./index.html">
        <img src="./images/home.png" alt="home" />
        <p>Home</p>
      </a>
    </li>
    <li class="menu-item-left">
      <a class="nav-items" href="./map.html">
        <img src="./images/search.png" alt="map" />
        <p>Map</p>
      </a>
    </li>
    <li class="menu-item-right" id="menu-account-button">
      <!-- <a class="nav-items" href="./login-halie.html"> -->
      <div class="nav-items">
        <img src="./images/user.png" alt="Account" />
        <p>Account</p>
      </div>
      <!-- </a> -->
    </li>
  </ul>
</nav>
