<!-- NavBar: Halie -->
<header class="header">Logo</header>
<nav class="menu-container">
  <ul class="menu">
    <li class="menu-item-left">
      <a class="nav-items" href="./index.html">
        <img src="./images/home.png" alt="home" />
        <p>Home</p>
      </a>
    </li>
    <li class="menu-item-left">
      <a class="nav-items" href="./index.html">
        <img src="./images/search.png" alt="search" />
        <p>Search</p>
      </a>
    </li>
    <li class="menu-item-right">
      <a class="nav-items" href="./index.html">
        <img src="./images/heart.png" alt="favourites" />
        <p>Favourites</p>
      </a>
    </li>
    <li class="menu-item-right">
      <a class="nav-items" href="./index.html">
        <img src="./images/settings.png" alt="settings" />
        <p>Settings</p>
      </a>
    </li>
  </ul>
</nav>
