<!-- <header class="header">Logo</header> -->
<nav class="menu-container">
  <ul class="menu">
    <li class="menu-item-left">
      <a class="nav-items" href="./index.html">
        <img src="./images/home.png" alt="home" />
        <p>Home</p>
      </a>
    </li>
    <li class="menu-item-left">
      <a class="nav-items" href="./map.html">
        <img src="./images/search.png" alt="map" />
        <p>Map</p>
      </a>
    </li>
    <li class="menu-item-right">
      <a class="nav-items" href="./restaurant.html">
        <img src="./images/heart.png" alt="restaurants" />
        <p>Restaurants</p>
      </a>
    </li>
    <li class="menu-item-right">
      <a class="nav-items" href="./login-halie.html">
        <img src="./images/settings.png" alt="login" />
        <p>Login</p>
      </a>
    </li>
  </ul>
</nav>
